body{
    font-size: 32px;
    background-color: rgba(255, 255, 255, 0.301);
    padding-left: 20%;
    
}
*{
    font-size: 32px; 
    border: none;
    outline: none;
    color: white;
    font-family: 'Righteous', cursive;
}
div{
    
    width: 20%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
article{
    margin-bottom: 5px;
    width: 20%;
    height: 8vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
article > button{
    background-color: #455986;
}
.gleich{
    grid-column: 4/5;
    grid-row: 2/-1;
    background-color: #455986;
}

.tooltip{
    position: absolute;
    right: -60%;
    font-size: 0.5em;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
}
.sound:hover .tooltip{
    visibility: visible;
    
    
}
div > button{
    background-color: #12224a;
}
button{
    width: 90%;
    margin: 3px;
    box-shadow: 0px 0px 2px rgb(206, 205, 194);
    transition-duration: 0.1s;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition-duration: 0.1s;
}
button:active{
    background-color: rgb(13, 218, 132);
}
.sound{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: #ccccd5;
    color: white;
    position: relative;
}
h1{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    background-color: #eeedec;
    margin-bottom: 1vh;
}
.fas{
    color: white;
}
.fas{
    color: white;
}:hover{
    color: black;
}